.goods-detail {
	width: 1190px;
	margin: 100px auto;
}


.goods-detail .left {
	float: left;
	width: 420px;
	margin: 0 20px;
}

.right {
	float: right;
	width: 530px;
}

.right .goods-title {
	font-size: 16px;
}

.right .price {
	height: 50px;
	line-height: 50px;
	margin: 20px 0;
	background-color: #ccc;
}
.right .price .title {
	width: 65px;
	float: left;
	margin-left: 8px;
}
.right .price .price-wrap {
	float: left;
	margin-left: 10px;
	color: #c33;
	font-weight: 700;
	font-size: 18px;
}
.right .price-wrap .goods-price {
	font-size: 22px;
}

.tb-prop {
	padding-left: 12px;
	margin-bottom: 20px;
	font-size: 12px;
}
.tb-prop .tb-title,
.tb-prop .tb-con {
	float: left;
}
.tb-prop .tb-title {
	width: 60px;
}
.tb-prop .tb-con {
	width: 400px;
}

.tb-prop .tb-con .tb-con-item {
	float: left;
	border: 1px solid #ccc;
	margin-right: 5px;
	line-height: 38px;
	margin: 3px;
}
.tb-prop .tb-con .tb-con-item:hover,
.tb-prop .tb-con .tb-con-item.selected {
	border-color: #be0106;
}
.tb-prop .tb-con-item a {
	display: block;
	padding: 0 10px;
}

/*amount*/
.amount {
	height: 28px;
	line-height: 28px;
}
.amount .amount-item {
	float: left;
}
.amount-op {
	position: relative;
	width: 60px;
	height: 26px;
	margin-right: 10px;
}
.amount-op .amount-input {
	position: absolute;
	left: 0;
	width: 38px;
	height: 100%;
	border: 1px solid #ccc;
	text-indent: 3px;
	outline: none;
}
.amount-op .amount-increase,
.amount-op .amount-decrease {
	position: absolute;
	left: 43px;
	width: 15px;
	height: 11px;
	line-height: 11px;
	border: 1px solid #ccc;
	text-align: center;
}
.amount-op .amount-increase {
	top: 0;
}
.amount-op .amount-decrease {
	top: 15px;
}

.tb-prop .stock {
	margin-left: 20px;
}

.tb-prop .user-option {
	float: left;
	width: 160px;
	height: 30px;
	line-height: 30px;;
	text-align: center;
	border: 1px solid #be0106;
	background-color: #ffeded;
}
.tb-prop .user-option  a {
	display: block;
	color: #be0106;
}
.tb-prop .user-option.option-bynow {
	margin-right: 20px;
}
.tb-prop .user-option.option-addCart {
	background-color: #be0106;
}
.tb-prop .user-option.option-addCart a {
	color: #fff;
}
.container{
	width:1194px;
	height:650px;
	margin:0 auto;
	background:#F9F9F9;
}
.glass{
	width:450px;
	float:left;
	position: relative;
	top:0;
	left:0;
	padding:20px 0 0 20px;
	
}
.glass-main{
	width:450px;
	height:450px;
	position:relative;
	left:0;
	top:0;
}
.middle{	
	width:100%;
	position: relative;
}
.middle-pic{
	width:100%;
}
.middle-wrap{
	width: 450px;
	height: 450px;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 100;
}
.glass .middle .filter{
	position:absolute;
	left:0;
	top:0;
	display:none;
	width:248px;
	height:248px;
	border:1px solid #727171;
	background:goldenrod;
	opacity: .3;
}
.glass .large{
	display: none;;
	position:absolute;
	left:460px;
	top:0;
	z-index: 3;
	width:450px;
	height:450px;
	overflow: hidden;
}
.glass .large-pic{
	position:absolute;
	width:810px;
	height:810px;
}
.glass .glass-slide{
	width:450px;
	height:90px;
	position:relative;
	left:0;
	top:50px;
	
}
.glass .slide-main{
	width:400px;
	height:90px;
	overflow:hidden;
	position:absolute;
	left:30px;
	top:0;
}
.glass .slide-main ul{
	height:90px;
}
.glass .glass-slide li{
	float:left;
	width:100px;
	height:90px;
	text-align:center;
}
.glass .glass-slide li img{
	border:1px solid darkslateblue;
	padding:2px;
	width:74px;
	
	
}
.glass .glass-slide li:nth-child(1) img.select,
.glass .glass-slide li .active{
	border:2px solid red;
	padding:1px;
}
.glass .glass-slide .arrow{
	
  
    background: url(../img/btns.png) -9px -108px;
    height: 18px;
    width: 10px;
    position: absolute;
    right: 10px;
    top: 0px;
    cursor: pointer;
    margin-top: 31px;
}
.glass .glass-slide .arrow-left{
	left:10px;
	top:0;
	background-position: 0px -108px;;
}
.glass .glass-slide .arrow-right{
	right:0;
	top:0;
}
.product{
	float:right;
	
	width:668px;
	
	overflow: hidden;
}
