/*------site-top--------*/
.head {
  width: 100%;
  background: #f5f5f5;
}

.head .site-top {
  width: 1190px;
  height: 36px;
  line-height: 36px;
  margin: 0 auto;
}

.head .site-top .fl {
  float: left;
  margin-right: 10px;
}

.head .site-top .fl span {
  margin-right: 5px;
}

.head .site-top .fl .homeicon {
  display: block;
  float: left;
  width: 15px;
  height: 36px;
  margin-right: 3px;
  background: url(../img/icon_index.png) no-repeat scroll 0 11px;
}

.head .site-top .otherlog span {
  float: left;
}

.head .site-top .otherlog a {
  display: block;
  float: left;
  width: 20px;
  height: 36px;
  margin-right: 3px;
  background: url(../img/icon_index.png) no-repeat;
}

.head .site-top .otherlog .qq {
  background-position: -378px 10px;
}

.head .site-top .otherlog .ali {
  background-position: -414px 10px;
}

.head .site-top .otherlog .aq360 {
  background-position: -449px 10px;
}

.head .site-top .otherlog .weibo {
  background-position: -485px 10px;
}

.head .site-top .forser span {
  font-size: 14px;
}

.fr {
  float: right;
}

.fr span {
  float: left;
}

.fr .fr-slide {
  height: 35px;
}

.fr .fr-item {
  position: relative;
  float: left;
  padding: 0 10px;
  border: 1px solid #f5f5f5;
  border-bottom: 0;
  z-index: 20;
}

.fr .fr-item .homeicon {
  float: right;
  width: 10px;
  height: 20px;
  margin: 6px 0 6px 8px;
  background: url(../img/icon_index.png) no-repeat -89px 0px;
}

.fr .fr-item .nonecon {
  display: none;
  position: absolute;
  top: 35px;
  right: -1px;
  border: 1px solid #f5f5f5;
  border-top: 0;
}

.fr .fr-item .front {
  background: url(../img/icon_index.png) no-repeat;
  padding: 2px 7px 1px 6px;
  position: relative;
  left: -5px;
}

.fr .fr-item .icoll {
  background-position: -66px -21px;
}

.fr .fr-item .phone {
  background-position: -24px 0px;
}

.fr .fr-item ul {
  display: none;
  border: 1px solid #fff;
  border-top: 0;
  position: absolute;
  z-index: 10;
  top: 35px;
  left: -1px;
  width: 78px;
  padding: 0 10px;
  background: #fff;
}

.fr .fr-item ul li {
  height: 24px;
  line-height: 24px;
}

/*-------search-item----------------*/
.search-item {
  width: 1190px;
  margin: 0 auto;
  background: #fff;
}

.search-item .search-item-l {
  width: 300px;
  height: 120px;
  float: left;
  overflow: hidden;
}

.search-item .search-item-c {
  width: 625px;
  height: 98px;
  float: left;
  padding: 40px 0 0 55px;
}

.search-item .search-item-c .search-key {
  float: left;
  width: 625px;
}

.search-item .search-item-c .search-key p {
  width: 625px;
}

.search-item .search-item-c .search-key p a {
  padding: 0 2px;
}

.search-item .search-item-r {
  float: right;
  width: 200px;
  height: 90px;
  margin-top: 20px;
}

#search-container {
  width: 625px;
}

#search-container input {
  float: left;
  width: 390px;
  line-height: 35px;
  height: 35px;
  border: 2px solid #cb1e00;
  font-size: 14px;
  color: #b8b8b8;
  padding: 0 5px;
}

#search-container a {
  float: left;
  width: 90px;
  height: 39px;
  line-height: 39px;
  text-align: center;
  background: #cc1d00;
  font-size: 16px;
  color: #fff;
  cursor: pointer;
  font-family: Microsoft Yahei,"microsoft yahei";
  border: 0px;
}
